<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
    
    <!-- <li class="heading">FEATURES</li> -->
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-location-arrow"></i><span class="nav-label">Take Courses</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/seeker/course"> Coaching</a>
        </li>
        <li><a routerLink="/seeker/course">Training </a>
        </li>
        <li><a routerLink="/seeker/course">Mentorship</a>
        </li>
      
       
      </ul>
    </li>
    

    <li routerLinkActive="active">
      <a href="javascript:;" routerLink="user-sessions"><i class="sidebar-item-icon ti-pie-chart"></i><span class="nav-label">My Sessions</span></a>
      
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-medall"></i><span class="nav-label">Badges</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;" >My Badges</a>
        </li>
        <li><a  routerLink="compliments">Compliments</a>
        </li>
       
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-dashboard"></i><span class="nav-label">Reports</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;">Invoices</a>
        </li>
        <li><a href="javascript:;">Payments</a>
        </li>
       
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-dropbox"></i><span class="nav-label">Knowledge Base</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;">Categories</a>
        </li>
        <li><a href="javascript:;">Search Knowledge </a>
        </li>
       
       
      </ul>
    </li>
    
    
  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="ti-announcement"></i></a><a href="javascript:;"><i class="ti-calendar"></i></a><a href="javascript:;"><i class="ti-comments"></i></a><a href="javascript:;"><i class="ti-power-off"></i></a></div>
</div>
