<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
    <li routerLinkActive="active">
      <a href="#"><i class="sidebar-item-icon ti-view-grid"></i><span class="nav-label">LMS</span></a>
      
    </li>
    <!-- <li class="heading">FEATURES</li> -->
    <li routerLinkActive="active">
      <a href="#"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">User Management</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a href="#">Add A New User</a>
        </li>
        <li><a href="#">Add A New Role</a>
        </li>
        <li><a href="#">Add A New Permission</a>
        </li>
        <li><a href="#">View/Modify</a>
        </li>
        <li><a href="#">Bulk Action</a>
        </li>
        <li><a href="#">Default Preferences</a>
        </li>
        <li><a href="#">Analytics</a>
        </li>
        <li><a routerLink="/ui/lists" routerLinkActive="active"> Role approval</a>
        </li>
        <li><a href="#">Check System Permission</a>
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="#"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Engagement</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="#">Create Appointment</a>
        </li>
        <li><a href="#">Manage Appointments</a>
        </li>
        <li><a href="#">Appointment Settings</a>
        </li>
       
      </ul>
    </li>
    
    <li routerLinkActive="active"><a href="#"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Competencies & Courses</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="#"><span class="nav-label">Manage competencies </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
            <li><a href="#">Pending Approvals</a></li>
            <li>  <a href="#">Add</a></li>
            <li>  <a href="#">Modify</a></li>
            <li>  <a href="#">Suspend</a></li>
            <li>  <a href="#">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage Courses </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="#">Pending Approvals</a></li>
              <li>  <a href="#">Add</a></li>
              <li>  <a href="#">Modify</a></li>
              <li>  <a href="#">Suspend</a></li>
              <li>  <a href="#">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label"> Manage Mentor Programs </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="#">Pending Approvals</a></li>
              <li>  <a href="#">Add</a></li>
              <li>  <a href="#">Modify</a></li>
              <li>  <a href="#">Suspend</a></li>
              <li>  <a href="#">Resume</a></li>
          </ul>
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Assessment</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage competencies </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="#">Pending Approvals</a></li>
              <li>  <a href="#">Add</a></li>
              <li>  <a href="#">Modify</a></li>
              <li>  <a href="#">Suspend</a></li>
              <li>  <a href="#">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Assign Assessment </span></a>
          
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Assessment Status</span></a>
          
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Certificate</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage Template </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="#">Pending Approvals</a></li>
              <li>  <a href="#">Add</a></li>
              <li>  <a href="#">Modify</a></li>
              <li>  <a href="#">Suspend</a></li>
              <li>  <a href="#">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Generate Certificates</span></a>
          
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">View / Download / Print</span></a>
          
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Packages</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage Template </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="#">Pending Approvals</a></li>
              <li>  <a href="#">Add</a></li>
              <li>  <a href="#">Modify</a></li>
              <li>  <a href="#">Suspend</a></li>
              <li>  <a href="#">Resume</a></li>
          </ul>
        </li>
       
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Analytics</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/blog/blog_list" routerLinkActive="active">Analytics Settings</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active">View Analytics</a>
        </li>
      </ul>
    </li>
   
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Reports</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/blog/blog_list" routerLinkActive="active">List – Course, Competencies, Packages</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> List - Coaches, Trainer, Mentors</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> List - Subscribers</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Engagements</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Subscriptions</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Invoices</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Payments</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Analytics</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Knowledge Base</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/blog/blog_list" routerLinkActive="active">Categories</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active">Search Knowledge </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="ti-announcement"></i></a><a href="javascript:;"><i class="ti-calendar"></i></a><a href="javascript:;"><i class="ti-comments"></i></a><a href="javascript:;"><i class="ti-power-off"></i></a></div>
</div>
