<div class="page-content fade-in-up">   
  


  <div class="row">
    
          <div class="col-md-8">
              <div class="ibox ibox-fullheight">
                  <div class="ibox-head">
                      <div class="ibox-title">Image Management - First impressions</div>
                  </div>
                  <form class="form-info" action="javascript:;">
                      <div class="ibox-body">
                          <div class="row ">
                              <div class="col-sm-4 form-group mb-4">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="">
                                  </a>
                              </div>
                              <div class="col-sm-8 form-group mb-4 course-section">
                                  <div class="row mb-2">
                                      <div class="col-6 course-heading">Course Title :</div>
                                      <div class="col-6">Image Management - First impressions</div>
                                  </div>
                                  <div class="row mb-2">
                                      <div class="col-6 course-heading">Course Duration :</div>
                                      <div class="col-6">5.02</div>
                                  </div>
                                  <div class="row mb-2">
                                      <div class="col-6 course-heading">Course Price :</div>
                                      <div class="col-6"><i class="ti-money"></i>4500</div>
                                  </div>
                                  <div class="row mb-2">
                                      <div class="col-6 course-heading">Created By :</div>
                                      <div class="col-6">Sonia Dubey Dewan</div>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="course-heading">Course Description</div>
                              <p>What is Image management and how does it help you. An introduction to Image management by Sonia Dubey Dewan. Your chance to set your image right. Sonia Dubey Dewan.</p>
                          </div>

                        </div>
                        
                      </div>
                      <div class="ibox-footer">
                  
                        <button class="btn btn-secondary details-btn" type="reset">Back</button>
                        <button class="btn btn-info mr-2 submit-btn" type="button">Buy Now</button>
                    </div>
                  </form>
              </div>
        
      </div>
      <div class="col-lg-4">
            <iframe src="https://player.vimeo.com/video/269195062" width="360" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p><a href="https://vimeo.com/269195062"></a>  <a href="https://vimeo.com/user84947203"></a>  <a href="https://vimeo.com"></a></p>

            <!-- <iframe src="https://player.vimeo.com/video/269200489" width="360" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/269200489">SK Intro video</a> from <a href="https://vimeo.com/user84947203">Team Solaris</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->
              <div class="ibox">
                      <div class="ibox-head">
                          <div class="ibox-title">Recommended Courses <a class="toolbar-icon"  href="javascript:;"></a></div>
                        
                      </div>
                      <div class="ibox-body">
                          <ul class="timeline recommended-course scroller" data-height="170px">
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              <li class="media align-items-center">
                                  <a class="media-img" href="javascript:;">
                                      <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="54">
                                  </a>
                                  <div class="media-body d-flex align-items-center">
                                      <div class="flex-1">
                                          <div class="media-heading">Python</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                      <button class="btn btn-sm btn-outline-secondary btn-rounded">Details</button>
                                  </div>
                              </li>
                              
                          </ul>
                      </div>
                  </div> 
      </div>
  </div>
 
 
<div class="row">
  <div class="col-md-12">
      <div class="page-content fade-in-up">
          <div class="ibox">
              <div class="ibox-body">
                  <h5 class="font-strong mb-4">Session Details</h5>
                 
                  <div class="table-responsive row">
                      <table class="table table-bordered table-hover" id="datatable">
                          <thead class="thead-default thead-lg">
                              <tr>
                                  <th>Session Name</th>
                                  <th>Description</th>
                                  <th>Duration</th>
                                  <th>Scheduled Date</th>
                                  <th>Price</th>
                                  <th>Action</th>
                                  
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Introduction</td>
                                  <td>
                                     .....
                                  </td>
                                  <td>0.02</td>
                                  <td>......</td>
                                  <td>
                                    $ 0
                                  </td>
                                  <td>
                                      <div class="form-group">
                                          <label class="checkbox checkbox-primary">
                                              <input type="checkbox">
                                              <span class="input-span"></span></label>
                                      </div>
                                  </td>
                                  
                              </tr>
                              <tr>
                                  <td>Image, Your first impression</td>
                                  <td>
                                      ......
                                  </td>
                                  <td>02:30</td>
                                  <td>......</td>
                                  <td>
                                    $ 1000
                                  </td>
                                  <td>
                                      <div class="form-group">
                                          <label class="checkbox checkbox-primary">
                                              <input type="checkbox">
                                              <span class="input-span"></span></label>
                                      </div>
                                  </td>
                                  
                              </tr>
                              <tr>
                                  <td>Establish your Image</td>
                                  <td>
                                      ......
                                  </td>
                                  <td>02:30</td>
                                  <td>.....</td>
                                  <td>
                                    $ 1500
                                  </td>
                                  <td>
                                      <div class="form-group">
                                          <label class="checkbox checkbox-primary">
                                              <input type="checkbox">
                                              <span class="input-span"></span></label>
                                      </div>
                                  </td>
                                  
                              </tr>
                              <!-- <tr>
                                  <td>IT Softwares</td>
                                  <td>
                                      Lorem Ipsum is simply dummy text of the printing
                                  </td>
                                  <td>01:20</td>
                                  <td>01-01-2018</td>
                                  <td>
                                    $ 200.0
                                  </td>
                                  <td>
                                      <div class="form-group">
                                          <label class="checkbox checkbox-primary">
                                              <input type="checkbox">
                                              <span class="input-span"></span></label>
                                      </div>
                                  </td>
                                  
                              </tr>
                              <tr>
                                  <td>IT Softwares</td>
                                  <td>
                                      Lorem Ipsum is simply dummy text of the printing
                                  </td>
                                  <td>01:20</td>
                                  <td>01-01-2018</td>
                                  <td>
                                    $ 200.0
                                  </td>
                                  <td>
                                      <div class="form-group">
                                          <label class="checkbox checkbox-primary">
                                              <input type="checkbox">
                                              <span class="input-span"></span></label>
                                      </div>
                                  </td>
                                </tr> -->
                                  
                            
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 
</div>