<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">Start Sessions</h5>
          
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="datatable">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>Session Name</th>
                            <th>Description</th>
                            <th width="140">Duration</th>
                            <th width="140">Scheduled Date</th>
                         
                            <th>Scheduled Time</th>
                            <th>Start Session</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                    Introduction
                            </td>
                            <td>
                                .......
                            </td>
                            <td>
                            0.02
                                 
                            </td>
                            <td>
                             ......
                            </td>
                            <td>
                              .....
                            </td>
                            <td>
                                <button class="btn btn-success" type="submit">Start</button>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                    Image, Your first impression
                            </td>
                            <td>
                               ..........
                            </td>
                            <td>
                            02:30
                                 
                            </td>
                            <td>
                             .......
                            </td>
                            <td>
                              ......
                            </td>
                            <td>
                                <button class="btn btn-success" type="submit">Start</button>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                Establish your Image
                            </td>
                            <td>
                               ........
                            </td>
                            <td>
                            02:30
                                 
                            </td>
                            <td>
                             .......
                            </td>
                            <td>
                               ...... 
                            </td>
                            <td>
                                <button class="btn btn-success" type="submit">Start</button>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                   ......
                            </td>
                            <td>
                                .......
                            </td>
                            <td>
                           2:30
                                 
                            </td>
                            <td>
                              .....
                            </td>
                            <td>
                              ......
                            </td>
                            <td>
                                <button class="btn btn-success" type="submit">Start</button>
                            </td>
                            
                        </tr>
                      
                    </tbody>
                </table>
            </div>
       
        </div>
    </div>
    
</div>
