<div class="page-content fade-in-up">
  <div class="ibox">
      <div class="ibox-body">
          <h5 class="font-strong mb-4">User Compliments</h5>
         
          <div class="table-responsive row">
              <table class="table table-bordered table-hover" id="datatable">
                  <thead class="thead-default thead-lg">
                      <tr>
                          <th>Course Name</th>
                          <th>coach/trainer/mentor name</th>
                          <th width="">Description</th>
                          <th width="">Session name</th>
                          <th>Session Compliment</th>
                         
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                                Image Management - First impressions
                          </td>
                          <td>
                                Sonia Dubey Dewan
                          </td>
                          <td>
                            What is Image management and how does it help you. An introduction to Image management by Sonia Dubey Dewan. Your chance to set your image right. Sonia Dubey Dewan
                               
                          </td>
                          <td>
                            Introduction
                          </td>
                         
                          <td>
                            <button class="btn btn-primary mr-2" type="button" data-toggle="modal" data-target="#new-mail-modal" href="javascript:;">Compliments</button>
                          </td>
                          
                      </tr>
                      <tr>
                        <td>
                                Image Management - First impressions
                        </td>
                        <td>
                                Sonia Dubey Dewan
                        </td>
                        <td>
                            What is Image management and how does it help you. An introduction to Image management by Sonia Dubey Dewan. Your chance to set your image right. Sonia Dubey Dewan

                             
                        </td>
                        <td>
                            Image, Your first impression
                        </td>
                       
                        <td>
                            <button class="btn btn-primary mr-2" type="button" data-toggle="modal" data-target="#new-mail-modal" href="javascript:;">Compliments</button>
                        </td>
                        
                    </tr>
                    <tr>
                      <td>
                            Image Management - First impressions
                      </td>
                      <td>
                            Sonia Dubey Dewan
                      </td>
                      <td>
                        What is Image management and how does it help you. An introduction to Image management by Sonia Dubey Dewan. Your chance to set your image right. Sonia Dubey Dewan

                           
                      </td>
                      <td>
                      Establish your Image
                      </td>
                     
                      <td>
                        <button class="btn btn-primary mr-2" type="button" data-toggle="modal" data-target="#new-mail-modal" href="javascript:;">Compliments</button>
                      </td>
                      
                  </tr>
                     
                  </tbody>
              </table>
          </div>
     
      </div>
  </div>
  
</div>
<!-- modal -->
<div class="modal fade" id="new-mail-modal">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header p-4">
                <h5 class="modal-title">User Compliments</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-4">
              
               
                <div class="form-group mb-4">
                    <textarea class="form-control form-control-line" rows="4" name="message" placeholder="Enter Message"></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-between bg-primary-50">
                <div>
                    <button class="btn btn-primary btn-rounded mr-3">Submit</button>
                   
                </div>
           
            </div>
        </form>
    </div>
</div>