<<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
   
    <!-- <li class="heading">FEATURES</li> -->
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Courses</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a href="javascript:;" routerLink="/trainer/add-course"> Add Courses</a>
        </li>
        <li><a href="javascript:;" routerLink="/trainer/course-details">Course Details</a>
        </li>
        
        <li><a href="javascript:;">View & Modify Courses</a>
        </li>
        <li><a href="javascript:;" routerLink="/trainer/schedule-sessions">Schedule Sessions</a>
        </li>
        <li><a href="javascript:;" routerLink="/trainer/start-sessions">Start Sessions</a>
        </li>
        <li><a href="javascript:;">Manage Schedule</a>
        </li>
     
        <li><a href="javascript:;">Add Competencies</a>
        </li>
        <li><a href="javascript:;">View & Modify Competencies</a>
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-user"></i><span class="nav-label">My Trainees</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;">View Trainees</a>
        </li>
        <li><a href="javascript:;">Analytics</a>
        </li>
     
      </ul>
    </li>

    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-shine"></i><span class="nav-label">Compliments</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;">View/Share/Print Compliments</a>
        </li>
        <li><a href="javascript:;">Give Compliment</a>
        </li>
     
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-dashboard"></i><span class="nav-label">Reports</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;">Invoices</a>
        </li>
        <li><a href="javascript:;">Payments</a>
        </li>
     
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-dropbox"></i><span class="nav-label">Knowledge Base</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;">Categories</a>
        </li>
        <li><a href="javascript:;">Search Knowledge</a>
        </li>
     
      </ul>
    </li>
    
  
  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="ti-announcement"></i></a><a href="javascript:;"><i class="ti-calendar"></i></a><a href="javascript:;"><i class="ti-comments"></i></a><a href="javascript:;"><i class="ti-power-off"></i></a></div>
</div>
>