<div id="sidebar-collapse">
    <ul class="side-menu metismenu">
      <!-- <li routerLinkActive="active">
        <a href="#"><i class="sidebar-item-icon ti-view-grid"></i><span class="nav-label">LMS</span></a>
        
      </li> -->
      <!-- <li class="heading">FEATURES</li> -->
      <li routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Courses</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
          <li><a href="javascript:;" routerLink="/mentor/add-course"> Add Courses</a>
          </li>
          <li><a href="javascript:;" routerLink="/mentor/course-details">Course Details</a>
          </li>
          
          <li><a href="javascript:;">View & Modify Courses</a>
          </li>
          <li><a href="javascript:;" routerLink="/mentor/schedule-sessions">Schedule Sessions</a>
          </li>
          <li><a href="javascript:;" routerLink="/mentor/start-sessions">Start Sessions</a>
          </li>
          <li><a href="javascript:;">Manage Schedule</a>
          </li>
       
          <li><a href="javascript:;">Add Competencies</a>
          </li>
          <li><a href="javascript:;">View & Modify Competencies</a>
          </li>
         
         
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon ti-user"></i><span class="nav-label">My Mentees</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
        
          <li><a href="javascript:;">View Mentees</a>
          </li>
          <li><a href="javascript:;">Analytics</a>
          </li>
       
         
        </ul>
      </li>

      <li routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon ti-shine"></i><span class="nav-label">Compliments</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
        
          <li><a href="javascript:;">View/Share/Print Compliments</a>
          </li>
          <li><a href="javascript:;">Give Compliment</a>
          </li>
       
         
        </ul>
      </li>

      <li routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon ti-dashboard"></i><span class="nav-label">Reports</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
        
          <li><a href="javascript:;">Invoices</a>
          </li>
          <li><a href="javascript:;">Payments</a>
          </li>
       
         
        </ul>
      </li>

      <li routerLinkActive="active">
        <a href="javascript:;"><i class="sidebar-item-icon ti-dropbox"></i><span class="nav-label">Knowledge Base</span><i class="fa fa-angle-left arrow"></i></a>
        <ul class="nav-2-level collapse" routerLinkActive="in">
        
          <li><a href="javascript:;">Categories</a>
          </li>
          <li><a href="javascript:;">Search Knowledge </a>
          </li>
       
         
        </ul>
      </li>

      
    
    </ul>
    <div class="sidebar-footer"><a href="javascript:;"><i class="ti-announcement"></i></a><a href="javascript:;"><i class="ti-calendar"></i></a><a href="javascript:;"><i class="ti-comments"></i></a><a href="javascript:;"><i class="ti-power-off"></i></a></div>
  </div>
  