<div class="page-brand">
    <a routerLink="/index">
        <!-- <span class="brand"><img src="./assets/img/logo/AOC_large_logo.png"></span>
        <span class="brand-mini"><img src="./assets/img/logo/AOC_large_small.png"></span> -->
        <span class="brand">TLR NOW</span>
        <span class="brand-mini">TLR NOW</span>
    </a>
  </div>
  <div class="flexbox flex-1">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li>
            <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </li>
        <li>
            <a class="nav-link search-toggler js-search-toggler"><i class="ti-search"></i>
                <span>Coach Search here...</span>
            </a>
        </li>
    </ul>
    <!-- END TOP-LEFT TOOLBAR-->
    <!-- START TOP-RIGHT TOOLBAR-->
    <ul class="nav navbar-toolbar">
       
            <li class="dropdown dropdown-user">
                <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                    <span>Interact</span>
                 </a>
            </li>
  
    <li class="dropdown dropdown-notification">
            <a class="nav-link dropdown-toggle toolbar-icon" data-toggle="dropdown" href="javascript:;"><i class="ti-bell rel"><span class="notify-signal"></span></i></a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <div class="dropdown-arrow"></div>
                <div class="dropdown-header text-center">
                    <div>
                        <span class="font-18"><strong>14 New</strong> Notifications</span>
                    </div>
                 
                </div>
                <div class="p-3">
                    <ul class="media-list media-list-divider scroller mr-2" data-height="320px">
                        <li class="media">
                            <div class="media-body d-flex">
                                <div class="flex-1">
                                    <h5 class="media-heading">
                                        <a href="javascript:;">New Course</a>
                                    </h5>
                                    <p class="font-13 text-light mb-1">It Softwares</p>
                                    <div class="d-flex align-items-center font-13">
                                        <img class="img-circle mr-2" src="./assets/img/users/u11.jpg" alt="image" width="22" />
                                        <a class="mr-2 text-success" href="javascript:;">Jhon Bravo</a>
                                        <span class="text-muted">18 mins ago</span>
                                    </div>
                                </div>
                                <div class="text-right" style="width:100px;">
                                    <span class="badge badge-primary badge-pill mb-2">Coach</span>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body d-flex">
                                <div class="flex-1">
                                    <h5 class="media-heading">
                                        <a href="javascript:;">Yoga Training</a>
                                    </h5>
                                    <p class="font-13 text-light mb-1">Yoga</p>
                                    <div class="d-flex align-items-center font-13">
                                        <img class="img-circle mr-2" src="./assets/img/users/u11.jpg" alt="image" width="22" />
                                        <a class="mr-2 text-success" href="javascript:;">Jhon Bravo</a>
                                        <span class="text-muted">18 mins ago</span>
                                    </div>
                                </div>
                                <div class="text-right" style="width:100px;">
                                    <span class="badge badge-primary badge-pill mb-2">Trainer</span>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body d-flex">
                                <div class="flex-1">
                                    <h5 class="media-heading">
                                        <a href="javascript:;">Jhon bravo</a>
                                    </h5>
                                    <p class="font-13 text-light mb-1">Yoga</p>
                                    <div class="d-flex align-items-center font-13">
                                        <img class="img-circle mr-2" src="./assets/img/users/u11.jpg" alt="image" width="22" />
                                        <a class="mr-2 text-success" href="javascript:;">Jhon Bravo</a>
                                        <span class="text-muted">18 mins ago</span>
                                    </div>
                                </div>
                                <div class="text-right" style="width:100px;">
                                    <span class="badge badge-primary badge-pill mb-2">Seeker</span>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body d-flex">
                                <div class="flex-1">
                                    <h5 class="media-heading">
                                        <a href="javascript:;">Mentor</a>
                                    </h5>
                                    <p class="font-13 text-light mb-1">Yoga</p>
                                    <div class="d-flex align-items-center font-13">
                                        <img class="img-circle mr-2" src="./assets/img/users/u11.jpg" alt="image" width="22" />
                                        <a class="mr-2 text-success" href="javascript:;">Jhon Bravo</a>
                                        <span class="text-muted">18 mins ago</span>
                                    </div>
                                </div>
                                <div class="text-right" style="width:100px;">
                                    <span class="badge badge-primary badge-pill mb-2">Mentor</span>
                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li> 
        <li class="dropdown dropdown-user">
                <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                    <span>Quick Create</span>
                
                </a>
                <div class="dropdown-menu dropdown-arrow dropdown-menu-right admin-dropdown-menu">
                    <div class="dropdown-arrow"></div>
                    <ul class="quick-links">
                        <li><a href="#">Competencies</a></li>
                        <li><a href="#">Course</a></li>
                     
                    </ul>
  <!--                     
                    <div class="admin-menu-features border-btm">
                        <a class="admin-features-item" href="javascript:;"><i class="ti-user"></i>
                            <span>PROFILE</span>
                        </a>
                        <a class="admin-features-item" href="javascript:;"><i class="ti-support"></i>
                            <span>SUPPORT</span>
                        </a>
                        <a class="admin-features-item" href="javascript:;"><i class="ti-settings"></i>
                            <span>SETTINGS</span>
                        </a>
                    </div>
                   -->
                  
                </div>
            </li>
        <!-- <li class="timeout-toggler">
            <a class="nav-link toolbar-icon" data-toggle="modal" data-target="#session-dialog" href="javascript:;"><i class="ti-alarm-clock timeout-toggler-icon rel"><span class="notify-signal"></span></i></a>
        </li> -->
        <li class="dropdown dropdown-user">
            <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                <span>My Account</span>
                <img src="./assets/img/users/admin-image.png" alt="image" />
            </a>
            <div class="dropdown-menu dropdown-arrow dropdown-menu-right admin-dropdown-menu">
                <div class="dropdown-arrow"></div>
                <!-- <div class="dropdown-header">
                    <div class="admin-avatar">
                        <img src="./assets/img/users/admin-image.png" alt="image" />
                    </div>
                    <div>
                        <h5 class="font-strong text-white">Super User</h5>
                        <div>
                            <span class="admin-badge mr-3"><i class="ti-alarm-clock mr-2"></i>30m.</span>
                            <span class="admin-badge"><i class="ti-lock mr-2"></i>Safe Mode</span>
                        </div>
                    </div>
                </div> -->
                <div class="admin-menu-features border-btm">
                    <a class="admin-features-item" href="javascript:;"><i class="ti-user"></i>
                        <span>PROFILE</span>
                    </a>
                    <a class="admin-features-item" href="javascript:;"><i class="ti-support"></i>
                        <span>Request New Role</span>
                    </a>
                    <a class="admin-features-item" href="javascript:;"><i class="ti-bell rel"></i>
                        <span>Change Password</span>
                    </a>
                    <a class="admin-features-item" href="javascript:;"  routerLink="/switch-role"><i class="ti-support"></i>
                      <span>Switch Role</span>
                  </a>
                    <a class="admin-features-item" href="javascript:;"><i class="ti-power-off"></i>
                        <span>Logout</span>
                    </a>
                </div>
               
                <!-- <div class="admin-menu-content">
                    <div class="text-muted mb-2">Your Wallet</div>
                    <div><i class="ti-wallet h1 mr-3 text-light"></i>
                        <span class="h1 text-success"><sup>$</sup>12.7k</span>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <a class="text-muted" href="javascript:;">Earnings history</a>
                        <a class="d-flex align-items-center" href="javascript:;">Logout<i class="ti-shift-right ml-2 font-20"></i></a>
                    </div>
                </div> -->
            </div>
        </li>
       
    </ul>
    <!-- END TOP-RIGHT TOOLBAR-->
  </div>
  