<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
    <!-- <li routerLinkActive="active">
      <a href="#"><i class="sidebar-item-icon ti-view-grid"></i><span class="nav-label">LMS</span></a>
      
    </li> -->
    <!-- <li class="heading">FEATURES</li> -->
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-user"></i><span class="nav-label">Admin User Management</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a href="javascript:;"> Admin Add A New User</a>
        </li>
        <li><a href="javascript:;">Add A New Role</a>
        </li>
        <li><a href="javascript:;">Add A New Permission</a>
        </li>
        <li><a href="javascript:;">View/Modify</a>
        </li>
        <li><a href="javascript:;">Bulk Action</a>
        </li>
        <li><a href="javascript:;">Default Preferences</a>
        </li>
        <li><a href="javascript:;">Analytics</a>
        </li>
        <li><a routerLink="/ui/lists" routerLinkActive="active"> Role approval</a>
        </li>
        <li><a href="javascript:;">Check System Permission</a>
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-pencil"></i><span class="nav-label">Courses</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;" routerLink="/admin/add-course">Add Courses</a>
        </li>
        <li><a href="javascript:;" routerLink="/admin/course-details">Course Details</a>
        </li>
      
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-calendar"></i><span class="nav-label">Sessions</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;" routerLink="/admin/schedule-sessions">Schedule Sessions</a>
        </li>
        <li><a href="javascript:;" routerLink="/admin/start-sessions">Start Sessions</a>
        </li>
      
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="javascript:;"><i class="sidebar-item-icon ti-comments"></i><span class="nav-label">Engagement</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
      
        <li><a href="javascript:;">Create Appointment</a>
        </li>
        <li><a href="javascript:;">Manage Appointments</a>
        </li>
        <li><a href="javascript:;">Appointment Settings</a>
        </li>
       
      </ul>
    </li>
    
    <li routerLinkActive="active"><a href="javascript:;"><i class="sidebar-item-icon ti-reload"></i><span class="nav-label">Competencies & Courses</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="javascript:;"><span class="nav-label">Manage competencies </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
            <li><a href="javascript:;">Pending Approvals</a></li>
            <li>  <a href="javascript:;">Add</a></li>
            <li>  <a href="javascript:;">Modify</a></li>
            <li>  <a href="javascript:;">Suspend</a></li>
            <li>  <a href="javascript:;">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage Courses </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="javascript:;">Pending Approvals</a></li>
              <li>  <a href="javascript:;">Add</a></li>
              <li>  <a href="javascript:;">Modify</a></li>
              <li>  <a href="javascript:;">Suspend</a></li>
              <li>  <a href="javascript:;">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label"> Manage Mentor Programs </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="javascript:;">Pending Approvals</a></li>
              <li>  <a href="javascript:;">Add</a></li>
              <li>  <a href="javascript:;">Modify</a></li>
              <li>  <a href="javascript:;">Suspend</a></li>
              <li>  <a href="javascript:;">Resume</a></li>
          </ul>
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-receipt"></i><span class="nav-label">Assessment</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage competencies </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="javascript:;">Pending Approvals</a></li>
              <li>  <a href="javascript:;">Add</a></li>
              <li>  <a href="javascript:;">Modify</a></li>
              <li>  <a href="javascript:;">Suspend</a></li>
              <li>  <a href="javascript:;">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Assign Assessment </span></a>
          
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Assessment Status</span></a>
          
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-credit-card"></i><span class="nav-label">Certificate</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage Template </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="javascript:;">Pending Approvals</a></li>
              <li>  <a href="javascript:;">Add</a></li>
              <li>  <a href="javascript:;">Modify</a></li>
              <li>  <a href="javascript:;">Suspend</a></li>
              <li>  <a href="javascript:;">Resume</a></li>
          </ul>
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Generate Certificates</span></a>
          
        </li>
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">View / Download / Print</span></a>
          
        </li>
       
      </ul>
    </li>
    <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-package"></i><span class="nav-label">Packages</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><span class="nav-label">Manage Template </span><i class="fa fa-angle-left arrow"></i></a>
          <ul class="nav-3-level collapse" routerLinkActive="in">
              <li><a href="javascript:;">Pending Approvals</a></li>
              <li>  <a href="javascript:;">Add</a></li>
              <li>  <a href="javascript:;">Modify</a></li>
              <li>  <a href="javascript:;">Suspend</a></li>
              <li>  <a href="javascript:;">Resume</a></li>
          </ul>
        </li>
       
       
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-pie-chart"></i><span class="nav-label">Analytics</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/blog/blog_list" routerLinkActive="active">Analytics Settings</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active">View Analytics</a>
        </li>
      </ul>
    </li>
   
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-dashboard"></i><span class="nav-label">Reports</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/blog/blog_list" routerLinkActive="active">List – Course, Competencies, Packages</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> List - Coaches, Trainer, Mentors</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> List - Subscribers</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Engagements</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Subscriptions</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Invoices</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Payments</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active"> Analytics</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-dropbox"></i><span class="nav-label">Knowledge Base</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a href="href=&quot;javascript:;&quot;">Categories</a>
        </li>
        <li><a routerLink="/blog/article" routerLinkActive="active">Search Knowledge </a>
        </li>
      </ul>
    </li>
  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="ti-announcement"></i></a><a href="javascript:;"><i class="ti-calendar"></i></a><a href="javascript:;"><i class="ti-comments"></i></a><a href="javascript:;"><i class="ti-power-off"></i></a></div>
</div>
