<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-4">Start Sessions</h5>
            <div class="row">
               
                <div class="col-lg-12">
                    <form action="javascript:;">
                       
                        <div class="row">
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group">
                                    <label>Service</label>
                                    <select class="form-control">
                                        <option value="">Coaching</option>
                                        <option value="">Coaching</option>
                                        <option value="">.....</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-sm-4 form-group mb-4 ">
                                <div class="form-group ">
                                    <label>Competency</label>
                                    <select class="form-control">
                                        <option value="">Image Management</option>
                                        <option value="">Leadership Coaching</option>
                                        <option value="">........</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group ">
                                    <label>Course Type</label>
                                    <select class="form-control">
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                    </select>
                                  </div>
                            </div>
                           
                       
                        </div>
                       
                       
                  
               
               
                    </form>
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="datatable">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>Course Name</th>
                            <th>Description</th>
                            <th width="140">Course Price</th>
                            <th width="140">No.Sessions</th>
                         
                            <th>Duration</th>
                            <th>Ratings</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Image Management - First impressions
                            </td>
                            <td>
                                What is Image management and how does it help you. An introduction to Image management by Sonia Dubey Dewan. Your chance to set your image right. Sonia Dubey Dewan
                            </td>
                            <td>
                           4500
                                 
                            </td>
                            <td>
                             3
                            </td>
                            <td>
                               5.02
                            </td>
                            <td>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star"></span>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                Leadership Coaching - Beginners Guide
                            </td>
                            <td>
                                What does leaderhip means and what are essential qualities of true leader. Leaderhip style, traces and path to create more leaders. Learn John Maxwell style of Leadership. Your chance to go from good to great.
                            </td>
                            <td>
                           7500
                                 
                            </td>
                            <td>
                             3
                            </td>
                            <td>
                               6.02
                            </td>
                            <td>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star"></span>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                               ......
                            </td>
                            <td>
                              ......
                            </td>
                            <td>
                          ......
                                 
                            </td>
                            <td>
                              .....
                            </td>
                            <td>
                                ..... 
                            </td>
                            <td>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars-white"></span>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                               .....
                            </td>
                            <td>
                                ......
                            </td>
                            <td>
                           
                                ......
                                 
                            </td>
                            <td>
                              ......
                            </td>
                            <td>
                              ...... 
                            </td>
                            <td>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars"></span>
                              <span class="fa fa-star stars-white"></span>
                              <span class="fa fa-star stars-white"></span>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
       
        </div>
    </div>
    
</div>
