<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-5">ADD COURSE</h5>
            <div class="row">
                <div class="col-lg-4">
                    <div>
                        <img src="./assets/img/course/course.jpg" alt="image" />
                    </div>
                 
                </div>
                <div class="col-lg-8">
                    <form action="javascript:;">
                       
                        <div class="row">
                            <div class="col-sm-6 form-group mb-4">
                                <div class="form-group">
                                    <label>Service</label>
                                    <select class="form-control">
                                        <option value="">Coaching</option>
                                        <option value="">Coaching</option>
                                        <option value="">.....</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-sm-6 form-group mb-4">
                                <div class="form-group ">
                                    <label>Competency</label>
                                    <select class="form-control">
                                        <option value="">Competency</option>
                                        <option value="">Competency</option>
                                        <option value="">Competency</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-sm-6 form-group mb-4">
                                <div class="form-group mb-4">
                                    <label>Course Type</label>
                                    <select class="form-control">
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                    </select>
                                  </div>
                            </div>
                           
                            <div class="col-sm-6 form-group mb-4">
                                    <label>Course Title</label>
                                    <input class="form-control " type="text" placeholder="Course Title">
                                </div>
                        </div>
                        <div class="row">
                          
                            <div class="col-sm-6 form-group mb-4">
                                <label>Course Image</label><br>
                                <label class="btn btn-info file-input mr-2">
                                    <span class="btn-icon"><i class="la la-upload"></i>Browse file</span>
                                    <input type="file">
                                </label>
                            </div>
                           
                        </div>
                        <div class="row">
                           
                           
                        </div>
                        <!-- <div class="form-group mb-4">
                           
                            <label class="btn btn-primary file-input mr-2">
                                <span class="btn-icon"><i class="la la-cloud-upload"></i>Browse file</span>
                                <input type="file">
                            </label>
                            <label class="btn btn-gradient-purple file-input">
                                <span class="btn-icon"><i class="la la-camera"></i>Browse</span>
                                <input type="file">
                            </label>
                        </div> -->
                        <div class="form-group mb-4">
                            <label>Course Details</label>
                            <textarea class="form-control " rows="4" placeholder="Description"></textarea>
                        </div>
                        <!-- <div class="form-group mb-4">
                            <label>Key Points</label>
                            <textarea class="form-control " rows="4" placeholder="Description"></textarea>
                        </div> -->
               
                        <div class="text-right">
                               
                            <a class="text-primary padding-rt10" href="javascript:;">Add Sessions</a>
                                 
                            <button class="btn btn-primary btn-air mr-2 submit-btn">Save and Next</button>
                          
                            <button class="btn btn-secondary ">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-body">
                        <h5 class="font-strong mb-4">Add Session</h5>
                       
                        <div class="table-responsive row">
                            <table class="table table-bordered table-hover" id="datatable">
                                <thead class="thead-default thead-lg">
                                    <tr>
                                        <th>Session Name</th>
                                        <th>Description</th>
                                        <th width="140">Duration</th>
                                        <th width="140">Scheduled Date</th>
                                        <th>Price</th>
                                        <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                            <input class="form-control" type="text" placeholder="Session">
                                            </div>
                                        </td>
                                        <td>
                                                <div class="form-group">
                                                        <textarea class="form-control" rows="1"></textarea>
                                                </div>
                                        </td>
                                        <td>
                                         <div class="input-group clockpicker" data-autoclose="true">
                                            <input class="form-control" type="text" value="11:30">
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                         </div>
                                             
                                            </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input class="form-control" id="daterange_3" type="text">
                                            </div></td>
                                        <td>
                                                <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="$ 200">
                                                        </div>
                                        </td>
                                        <td>
                                                <select class="selectpicker show-tick form-control" data-style="btn-secondary">
                                                        <option>Active</option>
                                                        <option>De-Active</option>
                                                        
                                                    </select>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                            <td>
                                                <div class="form-group">
                                                <input class="form-control" type="text" placeholder="Session">
                                                </div>
                                            </td>
                                            <td>
                                                    <div class="form-group">
                                                            <textarea class="form-control" rows="1"></textarea>
                                                    </div>
                                            </td>
                                            <td>
                                             <div class="input-group clockpicker" data-autoclose="true">
                                                <input class="form-control" type="text" value="11:30">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-clock-o"></span>
                                                </span>
                                             </div>
                                                 
                                                </td>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input class="form-control" id="daterange_3" type="text">
                                                </div></td>
                                            <td>
                                                    <div class="form-group">
                                                            <input class="form-control" type="text" placeholder="$ 200">
                                                            </div>
                                            </td>
                                            <td>
                                                    <select class="selectpicker show-tick form-control" data-style="btn-secondary">
                                                            <option>Active</option>
                                                            <option>De-Active</option>
                                                            
                                                        </select>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                                <td>
                                                    <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Session">
                                                    </div>
                                                </td>
                                                <td>
                                                        <div class="form-group">
                                                                <textarea class="form-control" rows="1"></textarea>
                                                        </div>
                                                </td>
                                                <td>
                                                 <div class="input-group clockpicker" data-autoclose="true">
                                                    <input class="form-control" type="text" value="11:30">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-clock-o"></span>
                                                    </span>
                                                 </div>
                                                     
                                                    </td>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        <input class="form-control" id="daterange_3" type="text">
                                                    </div></td>
                                                <td>
                                                        <div class="form-group">
                                                                <input class="form-control" type="text" placeholder="$ 200">
                                                                </div>
                                                </td>
                                                <td>
                                                        <select class="selectpicker show-tick form-control" data-style="btn-secondary">
                                                                <option>Active</option>
                                                                <option>De-Active</option>
                                                                
                                                            </select>
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                    <td>
                                                        <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="Session">
                                                        </div>
                                                    </td>
                                                    <td>
                                                            <div class="form-group">
                                                                    <textarea class="form-control" rows="1"></textarea>
                                                            </div>
                                                    </td>
                                                    <td>
                                                     <div class="input-group clockpicker" data-autoclose="true">
                                                        <input class="form-control" type="text" value="11:30">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-clock-o"></span>
                                                        </span>
                                                     </div>
                                                         
                                                        </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                            <input class="form-control" id="daterange_3" type="text">
                                                        </div></td>
                                                    <td>
                                                            <div class="form-group">
                                                                    <input class="form-control" type="text" placeholder="$ 200">
                                                                    </div>
                                                    </td>
                                                    <td>
                                                            <select class="selectpicker show-tick form-control" data-style="btn-secondary">
                                                                    <option>Active</option>
                                                                    <option>De-Active</option>
                                                                    
                                                                </select>
                                                    </td>
                                                    
                                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="text-right">
                               
                    
                             
                            <button class="btn btn-primary btn-air mr-2 submit-btn">Save </button>
                          
                            <button class="btn btn-secondary ">Clear</button>
                        </div>
                </div>
              
            </div>
        </div>
      </div>
</div>
