<!-- START HEADER-->
<header class="header" app-mentor-header></header>
<!-- END HEADER-->
<!-- START SIDEBAR-->
<nav class="page-sidebar" id="sidebar" app-mentor-sidebar></nav>
<!-- END SIDEBAR-->

<!-- START PAGE CONTENT-->
<div class="content-wrapper">
    <router-outlet></router-outlet>
    <footer class="page-footer" app-mentor-footer></footer>
</div>
<!-- END PAGE CONTENT-->
